<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="ca.uwaterloo.cs446.ezbill">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignupActivity"></activity>
        <activity
            android:name=".Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".AccountBookUpsertActivity"
            android:label="@string/exbill"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".GroupAccountBookDetailsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".IndividualAccountBookDetailsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GroupTransactionUpsertActivity"
            android:label="@string/exbill"
            android:parentActivityName=".GroupAccountBookDetailsActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".IndividualTransactionUpsertActivity"
            android:label="@string/exbill"
            android:parentActivityName=".IndividualAccountBookDetailsActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".IndividualTransactionDetailsActivity"
            android:label="@string/exbill"
            android:parentActivityName=".IndividualAccountBookDetailsActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".GroupTransactionDetailsActivity"
            android:label="@string/exbill"
            android:parentActivityName=".GroupAccountBookDetailsActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".IndividualUpsert"
            android:label="@string/exbill"
            android:parentActivityName=".IndividualTransactionDetailsActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".GroupUpsert"
            android:label="@string/exbill"
            android:parentActivityName=".GroupTransactionDetailsActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <!--<activity-->
            <!--android:name=".TransactionUpsertActivityTemplate"-->
            <!--android:label="template"-->
            <!--android:windowSoftInputMode="stateHidden">-->
        <!--</activity>-->
    </application>

</manifest>